

.nav {
    list-style: none;
   margin: 0;
    display: flex;
    padding: 0;
    color: rgb(11, 11, 63);
    background-color: white;
  
}

.itema {
  padding: 10px;
}

.a{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.b{
    font-family: 'Kanit', sans-serif;
}


.itema:nth-child(1) {
     margin-right: auto;
}




@-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  body {
    background: white;
  }
  
  .music-card {
    margin: 15px auto ;
    margin-left: 100px auto;
    margin-right: 100px auto;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 500px;
    
  }
  .music-card > .image img {
    position: absolute; 
    height: 300px;
    width: 300px;
  }
  
  .music-card > .info {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    text-align: center;
  
  }
  .music-card > .info > .title {
    font-size: 20px;
    font-weight: 400;
    font-family: "Playfair display";
    color: #333;
    margin-bottom: 9px;
  }
  .music-card > .info > .artist {
    font-family: "Source sans pro";
    color: #6c6a6a;
    font-size: 0.8em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    height: 10%;
  }

  .ac {
    margin: 40px;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    align-items: center;
    color: rgb(255, 255, 255);
  }

  .mp {
    font-family: 'Lobster', cursive;
    font-size: 90px;
    text-align: center;
    color:white;
  }

  .na {
    font-family: 'Kanit', sans-serif;
    color: rgb(253, 253, 253);
    margin-left: 30px;
  }



/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */


.line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 50px;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);   
  
}

/* Animation */
.anim-typewriter{
animation: typewriter 2s steps(20) 1s 1 normal both,
           blinkTextCursor 500ms steps(10) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 7.5em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

.magin{
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.img {
  border: 5px solid #fff;
  border-radius: 5px;
  width: 300px;
  height: 400px;
}

.fontt {
  font-family: 'Kanit', sans-serif;
  color: rgb(255, 255, 255);
}

.body {
  color: rgb(19, 23, 137);
}

.item {
  height: 200px;
  background-color: blue;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

